.item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.item {
    overflow: hidden;
    font-family: 'Poppins';
    text-align: center;
    display: flex;
    cursor: pointer;
    border-radius: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    transition: all .4s ease-in-out;
    transform: scale(100%);
    /* background: linear-gradient(90deg, rgba(195,245,198,1) 0%, rgba(117,213,117,1) 100%); */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}

.single {
    width: 100%;
}

.item:hover {
    box-shadow: rgba(100, 100, 111, 0.45) 0px 7px 29px 0px;
    transform: scale(105%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}
.item > .text-container {
    padding: 2rem;
}
.item h1 {
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: max(1em, 24px);
}
.item .image-container {
    display: flex;
    width: 100%;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
}


.item img {
    transform: scale(100%);
    transition: all 0.25s ease-in-out;
    height: 10rem;
    object-fit: contain;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}


@media (hover: none) {
    .item:hover { transform: none ; -webkit-transform: none ; -moz-transform: none ; -ms-transform: none ; -o-transform: none ; }
    .item:hover { transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; border-radius: none; -webkit-border-radius: none; -moz-border-radius: none; -ms-border-radius: none; -o-border-radius: none; }
}

