body {
    margin: 0;
    background-color: #e1e1e1
}
header span.bold {
    font-weight: 900;
    text-transform: uppercase;
}

.mr {
    margin-right: 5px;
}

button {
    font-family: 'Poppins';
    border-radius: 25px;
    padding: 5px 25px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    transition: all 0.2s ease-in;
    background-color: transparent;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

button:hover {
    background-color: white;
    color: black;
}

footer {
    position: sticky;
    bottom: 0px;
    background: rgb(145,163,255);
    background: linear-gradient(90deg, rgba(145,163,255,1) 0%, rgba(54,87,255,1) 100%); 
}

.br-5 {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container-item {
    opacity: 1;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}