html{
    scroll-behavior: smooth;
    transition: width, height 1s ease-in-out;
    -webkit-transition: width, height 1s ease-in-out;
    -moz-transition: width, height 1s ease-in-out;
    -ms-transition: width, height 1s ease-in-out;
    -o-transition: width, height 1s ease-in-out;
}

div {
    transition: width, height 1s ease-in-out;
    -webkit-transition: width, height 1s ease-in-out;
    -moz-transition: width, height 1s ease-in-out;
    -ms-transition: width, height 1s ease-in-out;
    -o-transition: width, height 1s ease-in-out;
}

body {
    margin: 0;
    background-color: #e1e1e1
}
header span.bold {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3vw;
}
header span.light {
    font-size: 3vw;
}

.logo{
    height: 5vw;
    transform: scale(100%) rotateZ(0deg);
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -webkit-transform: scale(100%) rotateZ(0deg);
    -moz-transform: scale(100%) rotateZ(0deg);
    -ms-transform: scale(100%) rotateZ(0deg);
    -o-transform: scale(100%) rotateZ(0deg);
}
.logo:hover{
    transform: scale(105%) rotateZ(-7deg);
    -webkit-transform: scale(105%) rotateZ(-7deg);
    -moz-transform: scale(105%) rotateZ(-7deg);
    -ms-transform: scale(105%) rotateZ(-7deg);
    -o-transform: scale(105%) rotateZ(-7deg);
}

.mr {
    margin-right: 10px;
}

button {
    font-family: 'Poppins';
    border-radius: 25px;
    padding: 5px 25px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    transform: scale(100%);
    transition: all 0.2s ease-in;
    background-color: transparent;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}

button:hover {
    transform: scale(110%);
    background-color: white;
    color: black;
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}

button.light{
    color: white;
    border: none;
    background: linear-gradient(90deg, rgba(145,163,255,1) 0%, rgba(54,87,255,1) 100%);
}

footer {
    position: sticky;
    bottom: 0px;
    background: rgb(145,163,255);
    background: linear-gradient(90deg, rgba(145,163,255,1) 0%, rgba(54,87,255,1) 100%);
}

.br-5 {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container-item {
    opacity: 1;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}

.fw {
    width: 100%;
}

.w-50{
    width: 50%;
    max-width: 50%;
}

.faded{
    opacity: 50%;
}
img.error {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div.fade-in{
    opacity: 1;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
}

#loading{
    animation: loading;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes loading {
    from{ transform:translate(-19px) rotate(-21deg) ; -webkit-transform:translate(-19px) rotate(-21deg) ; -moz-transform:translate(-19px) rotate(-21deg) ; -ms-transform:translate(-19px) rotate(-21deg) ; -o-transform:translate(-19px) rotate(-21deg) ; }
    to{ transform: translate(20px) rotate(25deg) ; -webkit-transform: translate(20px) rotate(25deg) ; -moz-transform: translate(20px) rotate(25deg) ; -ms-transform: translate(20px) rotate(25deg) ; -o-transform: translate(20px) rotate(25deg) ; }
}


